body{
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,Helvetica, sans-serif;
    background-image: url('../static/wallpaper.png');
    *:not(.particles){
        z-index: 1;
    }
}