body{
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,Helvetica, sans-serif;
    *:not(.particles):not(.menu-m):not(.nav):not(.Loader){
        z-index: 2;
    }
    .particles{
        z-index: 1
    }
    *::-webkit-scrollbar{
        background-color: transparent;
        width: 10px;
    }
    *::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgba(255,255,255,.3);
    }
}
