$smallest: 12px
$small: 15px
$normal: 18px
$medium: 28px
$big: 35px
$bigger: 45px

$smallest-m: $smallest
$small-m: $small
$normal-m: $normal
$medium-m: 23px
$big-m: 28px
$bigger-m: 35px

$smallest-sm: $smallest
$small-sm: 13px
$normal-sm: 15px
$medium-sm: 18px
$big-sm: 20px
$bigger-sm: 25px

.title
    @media only (max-width: 1000px)
        font-size: $bigger-m
        letter-spacing: 2px
        text-align: center
    @media only (max-width: 450px)
        font-size: $bigger-sm
    font-size: $bigger
    font-weight: bold
    letter-spacing: 5px
    text-transform: uppercase
    &.sub
        @media only (max-width: 1000px)
            font-size: $big-m
        @media only (max-width: 450px)
            font-size: $big-sm
        font-size: $big
    &.med
        @media only (max-width: 1000px)
            font-size: $medium-m
        @media only (max-width: 450px)
            font-size: $medium-sm
        font-size: $medium
.text
    @media only (max-width: 1000px)
        font-size: $normal-m
    @media only (max-width: 450px)
        font-size: $normal-sm
        letter-spacing: 1px
    font-size: $normal
    letter-spacing: 2px
    &.smst
        @media only (max-width: 1000px)
            font-size: $smallest-m
        @media only (max-width: 1000px)
            font-size: $smallest-sm
        font-size: $smallest
    &.sm
        @media only (max-width: 1000px)
            font-size: $small-m
        @media only (max-width: 1000px)
            font-size: $small-sm
        font-size: $small
    &.bold
        font-weight: bold

.center
    text-align: center
