.Sections
    background-size: cover
    background-repeat: no-repeat
    position: relative
    transition: all 1s
    overflow: scroll
    .content
        @media only (max-width: 1000px)
            padding: 12vh 20px 0
        align-items: center
        display: flex
        flex-direction: column
        justify-content: flex-start
        height: 100vh
        padding: 0 50px
        .contentTitle
            margin-bottom: 20px
        .sectionsList
            @media only (max-width: 1000px)
                display: grid
                grid-template-columns: repeat(3, 1fr)
                padding: 20px 0
            @media only (max-width: 700px)
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
            display: grid
            grid-template-columns: repeat(5, 1fr)
            padding: 20px 0
            width: 100%
            .section
                @media only (max-width: 1000px)
                    margin-bottom: 30px
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                transition: all .3s
                &:hover
                    cursor: pointer
                    filter: drop-shadow(5px 5px 10px $white-1)
                    transform: scale(1.1)
                img
                    border-radius: 100%
                    margin-bottom: 10px
                    width: 150px
                p
                    color: $white-3
        
        .title
            color: $white-3